.header {
  z-index: 1000;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  box-sizing: border-box;
}

.header_container {
  margin: 10px 20px;
  padding: 5px;
}
.left_header {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.right_menu_responsive {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
}
.right_menu {
  text-align: right;
}
.menu_list_hover {
  padding-left: 0;
  margin-bottom: 0;
}
.menu_list_hover li {
  list-style: none;
  margin-bottom: 0;
  margin-right: 0.5rem;
  display: inline-block;
}
.menu_list_hover li.active {
  background-color: #036bfb;
  border-radius: 10px;
}
.menu_list_hover li.active .menu_list_hover li a {
  color: #fff;
}

.menu_list_hover li a {
  font-size: 16px;
  color: #222222;
  font-weight: 700;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
  display: inline-block;
}
.logo h3 {
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Roboto', sans-serif;
}
