@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --main-bg: #ffffff;
  --main-bg-transparent: #ffffff8e;
  --second-bg: #fafafb;
  --txt-color: #101112;
  --txt-white: #fff;
  --main-color: #eadc1a;
  --second-color: #ffee97;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar {
  width: 5px;
}
html::-webkit-scrollbar-track {
  background: #a5a5a5;
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.7px;
  background: var(--main-bg);
  width: 100%;
  height: 100vh;
}
.body_background {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  left: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(./assets/images/pexels.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
}
.body_background img {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 1;
  height: 100px;
  width: 100px;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: var(--main-color);
}

button {
  cursor: pointer;
  border: 0;
  outline: 0;
  color: var(--txt-color);
}

.btn {
  margin-top: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  background: #095d14;
  color: var(--txt-white);
  font-size: 20px;
}

ul {
  list-style-type: none;
}

input {
  border: 2px solid transparent;
  outline: 0;
}

input:focus {
  border: 2px solid var(--main-color);
}

h4 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 5px;
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

.temp-color {
  color: #f4c300;
}
.pressure-color {
  color: #4b199b;
}
.wind-color {
  color: #8fd1ed;
}
.heart-color {
  color: #f11818;
}
.color-white {
  color: #ffffff !important;
}
